basic/fixdep
bin2c
conmakehash
genksyms/genksyms
genksyms/keywords.hash.c
genksyms/lex.lex.c
genksyms/parse.tab.c
genksyms/parse.tab.h
kallsyms
kconfig/conf
kconfig/mconf
kconfig/zconf.hash.c
kconfig/zconf.lex.c
kconfig/zconf.tab.c
mod/elfconfig.h
mod/mk_elfconfig
mod/modpost
recordmcount
